@model AppTerceiro.Models.Juridica
@{
    ViewData["Title"] = "Juridica";
}
<h1>@ViewData["Title"]</h1>

<main aria-labelledby="tittle">
    <h2>Código:@Model.Id</h2>
    <h2>Nome:@Model.Nome</h2>
    <h2>CNPJ:@Model.CNPJ</h2>
    <h2>Inscrição Estadual:@Model.IE</h2>
    <br />
    <div>
        @if(TempData["Id"]!= null){
            <h4> Código: @TempData["Id"] Nome: @TempData["Nome"] CNPJ: @TempData["CNPJ"] IE: @TempData["IE"]</h4>
        }    
</div>
</main>

